.section {
  padding-top: 112px;
  padding-bottom: 120px;
}
.section-page-banner {
  padding-top: 230px;
  padding-bottom: 70px;
  min-height: 700px;
  @include bg();
  background-color: $color-bg-banner;
}
  .banner-text-box,
  .banner-img-box {
    width: 50%;
  }
    .banner-text-box {
      max-width: 520px;
      padding: 41px 40px 42px;
      background-color: $white;
      @include border-radius($radius-main);
    }
    .banner-img-box {
      float: right;
      overflow: hidden;
      max-width: 580px;
      text-align: right;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
      .section-title {
        position: relative;
        padding-bottom: 29px;
        margin-bottom: 20px;
        font-size: $size-heading1;
        color: $color-text;
        span {
          color: $color-text3;
        }
        &:after {
          position: absolute;
          content: '';
          width: 100%;
          max-width: 120px;
          height: 4px;
          left: 0;
          bottom: 0;
          background-color: $color-bg2;
        }
      }

.section-products {}
  .product-list {
    margin: 40px -20px -40px;
    > li {
      display: inline-block;
      margin-bottom: 40px;
      padding: 0 20px;
      width: 49%;
      vertical-align: top;
    }
  }
      .cell-box {
        overflow: hidden;
        background-color: $color-bg5;
        @include border-radius($radius-small);
      }
        .cell-img-box {
          float: left;
          max-width: 220px;
          width: 40%;
          img {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }
        .cell-info-box {
          overflow: hidden;
          padding: 36px 40px 40px;
        }
          .cell-title {
            margin-bottom: 18px;
            font-size: $size-heading3;
            color: $color-text;
          }

.section-services {
  text-align: center;
  background: transparent;
  .box-title,
  .content {
    max-width: 770px;
    margin: 0 auto;
  }
}
  .box-title {
    position: relative;
    display: inline-block;
    padding-bottom: 38px;
    margin-bottom: 28px;
    font-size: $size-heading2;
    color: $color-text;
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 4px;
      left: 0;
      bottom: 0;
      background-color: $color-bg2;
    }
    .section-services & {
      margin-bottom: 28px;
    }
  }

.section-about-us {
  overflow: hidden;
}
  .about-img-box {
    float: left;
    width: 50%;
    max-width: 480px;
    margin-right: 50px;
    margin-bottom: 20px;
    img {
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }
  }