/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (min-width: 1920px) {

}
@media all and (min-width: 1680px) {

}

@media all and (max-width: 1400px) {

}

@media all and (max-width: 1280px) {

}

@media all and (max-width: 1199px) {
  .footer {
    &:after {
      width: 60%;
      top: 0;
      left: 0;
      background-color: $color-bg2;
    }
    &:before {
      width: 40%;
      top: 0;
      left: 60%;
      background-color: $color-bg3;
    }
  }
  .footer-list {
    overflow: hidden;
    > li {
      &.left-box {
        width: 60%;
      }
      &.right-box {
          width: 40%;
      }
    }
  }
  .contact-list {
    > li {
      margin-right: 40px;
      &:after {
        right: -24px;
      }
    }
  }
}

@media all and (max-width: 1080px) {

}

@media all and (max-width: 1024px) {
  .header,
  .scrolling.header {
    min-height: 75px;
    padding-top: 9px;
    padding-bottom: 3px;
  }
  .logo {
    max-width: 140px;
    .header.scrolling & {
      max-width: 140px;
      top: 0;
    }
  }
  .desktop {
    display: none !important;
  }
  .mobile-menu-wrap,
  .mobile-menu-toggle {
    display: block;
  }
  .section {
    padding-top: 52px;
    padding-bottom: 60px;
  }
  .section-page-banner {
    padding-top: 120px;
  }
}

@media all and (max-width: 991px) {
  .footer {
    &:after {
      width: 100%;
      top: 0;
      left: 0;
      background-color: $color-bg2;
    }
    &:before {
      content: none;
      height: 50%;
      width: 100%;
      top: 50%;
      left: 0;
      background-color: $color-bg3;
    }
  }
  .footer-list {
    overflow: hidden;
    text-align: center;
    > li {
      &.left-box {
        width: 100%;
        margin-bottom: 20px;
      }
      &.right-box {
        width: 100%;
      }
    }
  }
  .copyright {
    opacity: 1;
  }
  .contact-list {
    > li {
      margin-right: 40px;
      &:after {
        right: -24px;
      }
    }
  }
}

@media all and (max-width: 960px) {
  .product-list > li {
    width: 100%;
  }
}

@media all and (max-width: 860px) {
  .section-page-banner {
    position: relative;
    margin-bottom: 40px;
  }
  .banner-text-box, .banner-img-box {
    width: 100%;
  }
  .banner-img-box {
    float: none;
    margin: 0 auto 40px;
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
  }
  .banner-text-box {
    position: relative;
    margin: 0 auto 200px;
    z-index: 2;
  }
}

@media all and (max-width: 782px) {
  .admin-bar {
    .header {
      top: 46px;
    }
    .mobile-menu-wrap {
      top: 129px;
    }
  }
}

@media all and (max-width: 768px) {

}

@media all and (max-width: 767px) {

}

@media (max-width: 767px) and (max-height: 480px) {

}
@media all and (max-width: 736px) {

}
@media all and (max-width: 680px) {

}

@media all and (max-width: 640px) {
  .footer-list {
    > li {
      &.left-box {
        margin-bottom: 0;
      }
    }
  }
  .contact-list {
    > li {
      display: block;
      text-align: left;
      margin-bottom: 20px;
      &:after {
        content: none;
      }
      :last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media all and (max-width: 600px) {
  .cell-img-box {
    float: none;
    max-width: 100%;
    width: 100%;
  }
  .cell-img-box img {
    float: left;
    display: block;
    max-width: 50%;
  }
  .about-img-box {
    float: none;
    margin: 0 auto 20px;
    width: 100%;
  }
  .admin-bar {
    .header.scrolling {
      top: 0;
      .mobile-menu-wrap {
        top: 83px;
      }
    }
  }
}

@media all and (max-width: 560px) {

}

@media all and (max-width: 480px) {
  .wrap-404 {
    padding: 0 0 10px;
    font-size: 45px;
    .error-404 {
      margin-bottom: -18px;
      font-size: 140px;
    }
  }
}

@media all and (max-width: 420px) {

}

@media all and (max-width: 380px) {

}

@media all and (max-width: 360px) {

}

@media all and (max-width: 350px) {

}